*{
    margin: 0%;
    padding: 0%;
box-sizing: border-box;
}
body{
    background-image: url(./Capture.PNG);
    background-repeat:no-repeat ;
    background-size: cover;
}
p{
    background-color: chartreuse;
}
div{
    margin: 5px 10px;
    border: 1px solid brown;
    color: aqua;
}
div{
    
}